.gallery__visual {
  flex: 1 0 0;
  min-width: 0;
  aspect-ratio: 565 / 375;
  border-radius: var(--spacing-8);
  background: var(--primitive-black);
  box-shadow: 0px 0px 30px color-mix(in srgb, var(--primitive-black) 15%, transparent);
}
