.section-video {
  position: relative;
  width: 100%;
  height: 431px;
  background: var(--primitive-grey-dark);
  overflow: hidden;
}

.section-video__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
